h1{
color:darkcyan;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: sans-serif;
}
label{
    display: inline-block;
    width: 230px;
    text-align: left;
}
body{
    background-image: url("back.jpg");
    background-size: 100% 100%;
}
